.no-color {
  opacity: 0;
  border-color: transparent; // For IE
}

.feelEndColor {
  color: lighten(red, 10%);
}

.inline-block {
  display: inline-block;
}

.arab {
  font-family: $arabic-font-family;
}

.malay, .english {
  font-family: $primary-font-family;
  font-weight: lighter;
}

.not-bold {
  font-weight: lighter;
}
