/* SET ALL VARIABLES HERE */
$arab-font-size: 22px;
$bm-bi-font-size: 16px;

$arab-font-color: #333;
$bm-font-color: darken(violet, 5%);
$bi-font-color: lighten(blue, 25%);
$table-bg-color: rgba(165, 242, 241, 0.1);

$arabic-font: "Amiri Quran ColoredWeb", "Amiri QuranWeb", "Times New Roman", serif;
$arabic-font-2nd: "Simplified Arabic Fixed", "Al Bayan", "Nadeem", "Geeza Pro";
$blog-font: cursive, "Times New Roman", Times, serif;
