#header
  a(href="{{ '' | prepend: site.baseurl | prepend: site.url }}"): img(src="{{ '' | prepend: site.baseurl | prepend: site.url }}assets/img/arab-logo.jpg")

  .nav
    ul
      li: a(href="{{ '' | prepend: site.baseurl | prepend: site.url }}") Home
