//- Inject On "TOP" On Every Arabic Project Page
p#gnc Guess and Click

.buttons-wrap
  #buttons
    button(onClick="history.go(0)") Refresh Page
    button#bi-button English
    button#bm-button Malay
