
<div id="arabic-wrapper">
  <table lang="ar" id="dhomir">
    <tr>
      <th colspan="2" class="head-col"><span class="arab">الضَّمَائِر</span><span class="malay">Kata Ganti Nama</span>
      </th>
    </tr>
    <tr>
      <th><span class="arab">المُنْفَصِلُ</span><span class="english">Separate</span><span class="malay">Berpisah</span></th>
      <th><span class="arab">المُتَّصِلُ</span><span class="english">Connect with word (Suffix)</span><span class="malay">Bersambung (Merujuk kepada kepunyaan)</span></th>
    </tr>
    <tr>
      <td><span class="arab">هُوَ</span><span class="english">He</span><span class="malay">Dia(L)</span></td>
      <td><span class="arab">هُ</span><span class="english">His</span><span class="malay">Dia(L) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">هُمَا</span><span class="english">Both of Them(M)</span><span class="malay">Mereka Berdua(L)</span></td>
      <td><span class="arab">هُمَا</span><span class="english">Their(M)</span><span class="malay">Mereka Berdua(L) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">هُمْ</span><span class="english">They(M)</span><span class="malay">Mereka Semua(L)</span></td>
      <td><span class="arab">هُمْ</span><span class="english">Their(M)</span><span class="malay">Mereka Semua(L) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">هِيَ</span><span class="english">She</span><span class="malay">Dia(P)</span></td>
      <td><span class="arab">هَا</span><span class="english">Her</span><span class="malay">Dia(P) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">هُمَا</span><span class="english">Both of Them(F)</span><span class="malay">Mereka Berdua(P)</span></td>
      <td><span class="arab">هُمَا</span><span class="english">Their(F)</span><span class="malay">Mereka Berdua(P) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">هُنَّ</span><span class="english">They(F)</span><span class="malay">Mereka Semua(P)</span></td>
      <td><span class="arab">هُنَّ</span><span class="english">Their(F)</span><span class="malay">Mereka Semua(P) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">أَنْتَ</span><span class="english">You(M)</span><span class="malay">Kamu(L)</span></td>
      <td><span class="arab">كَ</span><span class="english">Your(M)</span><span class="malay">Kamu(L) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">أَنْتُمَا</span><span class="english">Both of You(M)</span><span class="malay">Kamu Berdua(L)</span></td>
      <td><span class="arab">كُمَا</span><span class="english">Your(M)</span><span class="malay">Kamu Berdua(L) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">أنْتُمْ</span><span class="english">All of You(M)</span><span class="malay">Kamu Semua(L)</span></td>
      <td><span class="arab">كُمْ</span><span class="english">Your(M)</span><span class="malay">Kamu Semua(L) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">أَنْتِ</span><span class="english">You(F)</span><span class="malay">Kamu(P)</span></td>
      <td><span class="arab">كِ</span><span class="english">Your(F)</span><span class="malay">Kamu(P) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">أَنْتُمَا</span><span class="english">Both of You(F)</span><span class="malay">Kamu Berdua(P)</span></td>
      <td><span class="arab">كُمَا</span><span class="english">Your(F)</span><span class="malay">Kamu Berdua(P) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">أَنْتُنَّ</span><span class="english">All of You(F)</span><span class="malay">Kamu Semua(P)</span></td>
      <td><span class="arab">كُنَّ</span><span class="english">Your(F)</span><span class="malay">Kamu Semua(P) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">أَنَا</span><span class="english">Me(M/F)</span><span class="malay">Saya(L/P)</span></td>
      <td><span class="arab">يْ</span><span class="english">My(M/F)</span><span class="malay">Saya(L/P) Punya</span></td>
    </tr>
    <tr>
      <td><span class="arab">نَحْنُ</span><span class="english">Us(M/F)</span><span class="malay">Kami(L/P)</span></td>
      <td><span class="arab">نَا</span><span class="english">Our(M/F)</span><span class="malay">Kami(L/P) Punya</span></td>
    </tr>
  </table>
</div>