
<div id="arabic-wrapper">
  <table>
    <tr>
      <th colspan="3" class="head-col"><span>4 Huruf</span><span class="english">4 Letters</span></th>
    </tr>
    <tr>
      <th><span class="arab">الفِعْلُ الْمُضَارِعُ</span><span class="english">Verb (Present Tense)</span><span class="malay">Kata Kerja Masa Kini (Sedang)</span></th>
      <th><span class="arab">الفِعْلُ الْمَاضِي</span><span class="english">Verb (Past Tense)</span><span class="malay">Kata Kerja Masa Lalu (Telah)</span></th>
    </tr>
    <tr>
      <td><span class="arab">يُفَاعِلُ</span></td>
      <td><span class="arab">فَاعَلَ</span></td>
      <th rowspan="3" class="right-header"><span class="not-bold">Acuan Fi'il</span><span class="english">Verb Shape</span></th>
    </tr>
    <tr>
      <td><span class="arab">يُفْعِلُ</span></td>
      <td><span class="arab">أَفْعَلَ</span></td>
    </tr>
    <tr>
      <td><span class="arab">يُفَعِّلُ</span></td>
      <td><span class="arab">فَعَّلَ</span></td>
    </tr>
    <tr></tr>
    <tr>
      <td><span class="arab">يُرَاجِعُ</span><span class="english">Revise</span><span class="malay">Ulangkaji</span></td>
      <td><span class="arab">رَاجَعَ</span><span class="english">Revised</span><span class="malay">Ulangkaji</span></td>
      <th rowspan="3" class="right-header"><span class="not-bold">Contoh Fi'il</span><span class="english">Verb Examples</span></th>
    </tr>
    <tr>
      <td><span class="arab">يُدْخِلُ</span><span class="english">Enter</span><span class="malay">Masuk</span></td>
      <td><span class="arab">أَدْخَلَ</span><span class="english">Entered</span><span class="malay">Masuk</span></td>
    </tr>
    <tr>
      <td><span class="arab">يُنَظِّفُ</span><span class="english">Clean</span><span class="malay">Bersihkan</span></td>
      <td><span class="arab">نَظَّفَ</span><span class="english">Cleaned</span><span class="malay">Bersihkan</span></td>
    </tr>
  </table>
  <table>
    <tr>
      <th colspan="3" class="head-col"><span>5 Huruf</span><span class="english">5 Letters</span></th>
    </tr>
    <tr>
      <th><span class="arab">الفِعْلُ الْمُضَارِعُ</span><span class="english">Verb (Present Tense)</span><span class="malay">Kata Kerja Masa Kini (Sedang)</span></th>
      <th><span class="arab">الفِعْلُ الْمَاضِي</span><span class="english">Verb (Past Tense)</span><span class="malay">Kata Kerja Masa Lalu (Telah)</span></th>
    </tr>
    <tr>
      <td><span class="arab">يَتَفَاعَلُ</span></td>
      <td><span class="arab">تَفَاعَلَ</span></td>
      <th rowspan="3" class="right-header"><span class="not-bold">Acuan Fi'il</span><span class="english">Verb Shape</span></th>
    </tr>
    <tr>
      <td><span class="arab">يَفْتَعِلُ</span></td>
      <td><span class="arab">اِفْتَعَلَ</span></td>
    </tr>
    <tr>
      <td><span class="arab">يَتَفَعَّلُ</span></td>
      <td><span class="arab">تَفَعَّلَ</span></td>
    </tr>
    <tr></tr>
    <tr>
      <td><span class="arab">يَتَنَاوَلُ</span><span class="english">Take</span><span class="malay">Mengambil</span></td>
      <td><span class="arab">تَنَاوَلَ</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th rowspan="3" class="right-header"><span class="not-bold">Contoh Fi'il</span><span class="english">Verb Examples</span></th>
    </tr>
    <tr>
      <td><span class="arab">يَغْتَسِلُ</span><span class="english">Bath</span><span class="malay">Mandi</span></td>
      <td><span class="arab">اِغْتَسَلَ</span><span class="english">Bathed</span><span class="malay">Mandi</span></td>
    </tr>
    <tr>
      <td><span class="arab">يَتَعَلَّمُ</span><span class="english">Learn</span><span class="malay">Belajar</span></td>
      <td><span class="arab">تَعَلَّمَ</span><span class="english">Learned</span><span class="malay">Belajar</span></td>
    </tr>
  </table><br/>
  <table>
    <tr>
      <th colspan="3" class="head-col"><span>6 Huruf</span><span class="english">6 Letters</span></th>
    </tr>
    <tr>
      <th><span class="arab">الفِعْلُ الْمُضَارِعُ</span><span class="english">Verb (Present Tense)</span><span class="malay">Kata Kerja Masa Kini (Sedang)</span></th>
      <th><span class="arab">الفِعْلُ الْمَاضِي</span><span class="english">Verb (Past Tense)</span><span class="malay">Kata Kerja Masa Lalu (Telah)</span></th>
    </tr>
    <tr>
      <td><span class="arab">يَسْتَفْعِلُ</span></td>
      <td><span class="arab">اِسْتَفْعَلَ</span></td>
      <th class="right-header thin"><span class="not-bold">Acuan Fi'il</span><span class="english">Verb Shape</span></th>
    </tr>
    <tr></tr>
    <tr>
      <td><span class="arab">يَسْتَيْقِظُ</span><span class="english">Wake Up</span><span class="malay">Bangun dari Tidur</span></td>
      <td><span class="arab">اِسْتَيْقَظَ</span><span class="english">Woke Up</span><span class="malay">Bangun dari Tidur</span></td>
      <th class="right-header thin"><span class="not-bold">Contoh Fi'il</span><span class="english">Verb Example</span></th>
    </tr>
  </table>
</div>