

<div id="arabic-wrapper">
  <table>     
    <tr>
      <th colspan="3" class="head-col"><span class="arab">3 Huruf</span><span class="english">3 Letters</span></th>
    </tr>
    <tr>
      <th colspan="2"><span class="arab">الفِعْلُ الْمَاضِي</span><span class="english">Verb (Past Tense)</span><span class="malay">Kata Kerja Masa Lampau (telah)</span></th>
      <th><span class="arab">الضَّمَائِر</span><span class="english">Pronoun</span><span class="malay">Kata Ganti Nama</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبَ</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسَ</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">هُوَ</span><span class="english">He</span><span class="malay">Dia(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبَا</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسَا</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">هُمَا</span><span class="english">Both of Them(M)</span><span class="malay">Mereka Berdua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبُوا</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسُوا</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">هُمْ</span><span class="english">They(M)</span><span class="malay">Mereka Semua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبَتْ</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسَتْ</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">هِيَ</span><span class="english">She</span><span class="malay">Dia(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبَتَا</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسَتَا</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">هُمَا</span><span class="english">Both of Them(F)</span><span class="malay">Mereka Berdua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبْنَ</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسْنَ</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">هُنَّ</span><span class="english">They(F)</span><span class="malay">Mereka Semua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبْتَ</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسْتَ</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">أَنْتَ</span><span class="english">You(M)</span><span class="malay">Kamu(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبْتُمَا</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسْتُمَا</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">أَنْتُمَا</span><span class="english">Both of You(M)</span><span class="malay">Kamu Berdua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبْتُمْ</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسْتُمْ</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">أنْتُمْ</span><span class="english">All of You(M)</span><span class="malay">Kamu Semua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبْتِ</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسْتِ</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">أَنْتِ</span><span class="english">You(F)</span><span class="malay">Kamu(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبْتُمَا</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسْتُمَا</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">أَنْتُمَا</span><span class="english">Both of You(F)</span><span class="malay">Kamu Berdua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبْتُنَّ</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسْتُنَّ</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">أَنْتُنَّ</span><span class="english">All of You(F)</span><span class="malay">Kamu Semua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبْتُ</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسْتُ</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">أَنَا</span><span class="english">Me(M/F)</span><span class="malay">Saya(L/P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">ذَهَبْنَا</span><span class="english">Went</span><span class="malay">Pergi</span></td>
      <td><span class="arab">جَلَسْنَا</span><span class="english">Sat</span><span class="malay">Duduk</span></td>
      <th><span class="arab">نَحْنُ</span><span class="english">Us(M/F)</span><span class="malay">Kami(L/P)</span></th>
    </tr>
  </table>
  <table>     
    <tr>
      <th colspan="3" class="head-col"><span class="arab">4 Huruf</span><span class="english">4 Letters</span></th>
    </tr>
    <tr>
      <th colspan="2"><span class="arab">الفِعْلُ الْمَاضِي</span><span class="english">Verb (Past Tense)</span><span class="malay">Kata Kerja Masa Lampau (telah)</span></th>
      <th><span class="arab">الضَّمَائِر</span><span class="english">Pronoun</span><span class="malay">Kata Ganti Nama</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدَ</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمَ</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">هُوَ</span><span class="english">He</span><span class="malay">Dia(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدَا</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمَا</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">هُمَا</span><span class="english">Both of Them(M)</span><span class="malay">Mereka Berdua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدُوا</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمُوا</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">هُمْ</span><span class="english">They(M)</span><span class="malay">Mereka Semua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدَتْ</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمَتْ</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">هِيَ</span><span class="english">She</span><span class="malay">Dia(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدَتَا</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمَتَا</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">هُمَا</span><span class="english">Both of Them(F)</span><span class="malay">Mereka Berdua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدْنَ</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمْنَ</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">هُنَّ</span><span class="english">They(F)</span><span class="malay">Mereka Semua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدْتَ</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمْتَ</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">أَنْتَ</span><span class="english">You(M)</span><span class="malay">Kamu(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدْتُمَا</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمْتُمَا</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">أَنْتُمَا</span><span class="english">Both of You(M)</span><span class="malay">Kamu Berdua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدْتُمْ</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمْتُمْ</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">أنْتُمْ</span><span class="english">All of You(M)</span><span class="malay">Kamu Semua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدْتِ</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمْتِ</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">أَنْتِ</span><span class="english">You(F)</span><span class="malay">Kamu(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدْتُمَا</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمْتُمَا</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">أَنْتُمَا</span><span class="english">Both of You(F)</span><span class="malay">Kamu Berdua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدْتُنَّ</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمْتُنَّ</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">أَنْتُنَّ</span><span class="english">All of You(F)</span><span class="malay">Kamu Semua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدْتُ</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمْتُ</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">أَنَا</span><span class="english">Me(M/F)</span><span class="malay">Saya(L/P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">سَاعَدْنَا</span><span class="english">Helped</span><span class="malay">Menolong</span></td>
      <td><span class="arab">عَلَّمْنَا</span><span class="english">Taught</span><span class="malay">Mengajar</span></td>
      <th><span class="arab">نَحْنُ</span><span class="english">Us(M/F)</span><span class="malay">Kami(L/P)</span></th>
    </tr>
  </table><br/>
  <table>     
    <tr>
      <th colspan="3" class="head-col"><span class="arab">5 Huruf</span><span class="english">5 Letters</span></th>
    </tr>
    <tr>
      <th colspan="2"><span class="arab">الفِعْلُ الْمَاضِي</span><span class="english">Verb (Past Tense)</span><span class="malay">Kata Kerja Masa Lampau (telah)</span></th>
      <th><span class="arab">الضَّمَائِر</span><span class="english">Pronoun</span><span class="malay">Kata Ganti Nama</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلَ</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلَ</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">هُوَ</span><span class="english">He</span><span class="malay">Dia(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلَا</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلَا</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">هُمَا</span><span class="english">Both of Them(M)</span><span class="malay">Mereka Berdua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلُوا</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلُوا</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">هُمْ</span><span class="english">They(M)</span><span class="malay">Mereka Semua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلَتْ</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلَتْ</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">هِيَ</span><span class="english">She</span><span class="malay">Dia(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلَتَا</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلَتَا</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">هُمَا</span><span class="english">Both of Them(F)</span><span class="malay">Mereka Berdua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلْنَ</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلْنَ</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">هُنَّ</span><span class="english">They(F)</span><span class="malay">Mereka Semua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلْتَ</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلْتَ</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">أَنْتَ</span><span class="english">You(M)</span><span class="malay">Kamu(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلْتُمَا</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلْتُمَا</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">أَنْتُمَا</span><span class="english">Both of You(M)</span><span class="malay">Kamu Berdua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلْتُمْ</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلْتُمْ</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">أنْتُمْ</span><span class="english">All of You(M)</span><span class="malay">Kamu Semua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلْتِ</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلْتِ</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">أَنْتِ</span><span class="english">You(F)</span><span class="malay">Kamu(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلْتُمَا</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلْتُمَا</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">أَنْتُمَا</span><span class="english">Both of You(F)</span><span class="malay">Kamu Berdua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلْتُنَّ</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلْتُنَّ</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">أَنْتُنَّ</span><span class="english">All of You(F)</span><span class="malay">Kamu Semua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلْتُ</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلْتُ</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">أَنَا</span><span class="english">Me(M/F)</span><span class="malay">Saya(L/P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">تَقَابَلْنَا</span><span class="english">Met</span><span class="malay">Jumpa</span></td>
      <td><span class="arab">تَنَاوَلْنَا</span><span class="english">Took</span><span class="malay">Mengambil</span></td>
      <th><span class="arab">نَحْنُ</span><span class="english">Us(M/F)</span><span class="malay">Kami(L/P)</span></th>
    </tr>
  </table>
  <table>     
    <tr>
      <th colspan="3" class="head-col"><span class="arab">6 Huruf</span><span class="english">6 Letters</span></th>
    </tr>
    <tr>
      <th colspan="2"><span class="arab">الفِعْلُ الْمَاضِي</span><span class="english">Verb (Past Tense)</span><span class="malay">Kata Kerja Masa Lampau (telah)</span></th>
      <th><span class="arab">الضَّمَائِر</span><span class="english">Pronoun</span><span class="malay">Kata Ganti Nama</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجَ</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلَ</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">هُوَ</span><span class="english">He</span><span class="malay">Dia(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجَا</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلَا</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">هُمَا</span><span class="english">Both of Them(M)</span><span class="malay">Mereka Berdua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجُوا</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلُوا</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">هُمْ</span><span class="english">They(M)</span><span class="malay">Mereka Semua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجَتْ</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلَتْ</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">هِيَ</span><span class="english">She</span><span class="malay">Dia(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجَتَا</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلَتَا</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">هُمَا</span><span class="english">Both of Them(F)</span><span class="malay">Mereka Berdua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجْنَ</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلْنَ</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">هُنَّ</span><span class="english">They(F)</span><span class="malay">Mereka Semua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجْتَ</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلْتَ</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">أَنْتَ</span><span class="english">You(M)</span><span class="malay">Kamu(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجْتُمَا</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلْتُمَا</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">أَنْتُمَا</span><span class="english">Both of You(M)</span><span class="malay">Kamu Berdua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجْتُمْ</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلْتُمْ</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">أنْتُمْ</span><span class="english">All of You(M)</span><span class="malay">Kamu Semua(L)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجْتِ</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلْتِ</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">أَنْتِ</span><span class="english">You(F)</span><span class="malay">Kamu(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجْتُمَا</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلْتُمَا</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">أَنْتُمَا</span><span class="english">Both of You(F)</span><span class="malay">Kamu Berdua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجْتُنَّ</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلْتُنَّ</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">أَنْتُنَّ</span><span class="english">All of You(F)</span><span class="malay">Kamu Semua(P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجْتُ</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلْتُ</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">أَنَا</span><span class="english">Me(M/F)</span><span class="malay">Saya(L/P)</span></th>
    </tr>
    <tr>
      <td><span class="arab">اِسْتَخْرَجْنَا</span><span class="english">Extracted</span><span class="malay">Mengeluarkan</span></td>
      <td><span class="arab">اِسْتَقْبَلْنَا</span><span class="english">Celebrated</span><span class="malay">Menyambut</span></td>
      <th><span class="arab">نَحْنُ</span><span class="english">Us(M/F)</span><span class="malay">Kami(L/P)</span></th>
    </tr>
  </table>
</div>