
<div id="arabic-wrapper">
  <table lang="ar" dir="rtl">
    <tr>
      <th colspan="3" class="head-col"><span class="arab">لِلْقَرِيبِ</span><span class="english">Near</span><span class="malay">Dekat</span></th>
    </tr>
    <tr>
      <th class="no-color"></th>
      <th><span class="arab">اَلْمُذَكَّرُ</span><span class="english">Male</span><span class="malay">Lelaki</span></th>
      <th><span class="arab">اَلْمُؤَنَّثُ</span><span class="english">Female</span><span class="malay">Perempuan</span></th>
    </tr>
    <tr>
      <th><span class="arab">اَلْمُفْرَدُ</span><span class="english">One</span><span class="malay">Satu</span></th>
      <td><span class="arab">هَذَا</span><span class="english">This</span><span class="malay">Ini</span></td>
      <td><span class="arab">هَذِهِ</span><span class="english">This</span><span class="malay">Ini</span></td>
    </tr>
    <tr>
      <th><span class="arab">اَلْمُثَنَّى</span><span class="english">Two</span><span class="malay">Dua</span></th>
      <td><span class="arab">هَذَانِ</span><span class="english">This</span><span class="malay">Ini</span></td>
      <td><span class="arab">هَاتَانِ</span><span class="english">This</span><span class="malay">Ini</span></td>
    </tr>
    <tr>
      <th><span class="arab">اَلْجَمْعُ</span><span class="english">Many</span><span class="malay">Banyak/ Ramai</span></th>
      <td><span class="arab">هَؤُلَاءِ</span><span class="english">This</span><span class="malay">Ini</span></td>
      <td><span class="arab">هَؤُلَاءِ</span><span class="english">This</span><span class="malay">Ini</span></td>
    </tr>
  </table>
  <table lang="ar" dir="rtl">
    <tr>
      <th colspan="3" class="head-col"><span class="arab">لِلْبَعِيْدِ</span><span class="english">Far</span><span class="malay">Jauh</span></th>
    </tr>
    <tr>
      <th class="no-color"></th>
      <th><span class="arab">اَلْمُذَكَّرُ</span><span class="english">Male</span><span class="malay">Lelaki</span></th>
      <th><span class="arab">اَلْمُؤَنَّثُ</span><span class="english">Female</span><span class="malay">Perempuan</span></th>
    </tr>
    <tr>
      <th><span class="arab">اَلْمُفْرَدُ</span><span class="english">One</span><span class="malay">Satu</span></th>
      <td><span class="arab">ذَلِكَ</span><span class="english">That</span><span class="malay">Itu</span></td>
      <td><span class="arab">تِلْكَ</span><span class="english">That</span><span class="malay">Itu</span></td>
    </tr>
    <tr>
      <th><span class="arab">اَلْمُثَنَّى</span><span class="english">Two</span><span class="malay">Dua</span></th>
      <td><span class="arab">ذَانِكَ</span><span class="english">That</span><span class="malay">Itu</span></td>
      <td><span class="arab">تَانِكَ</span><span class="english">That</span><span class="malay">Itu</span></td>
    </tr>
    <tr>
      <th><span class="arab">اَلْجَمْعُ</span><span class="english">Many</span><span class="malay">Banyak/ Ramai</span></th>
      <td><span class="arab">أُولَئِكَ</span><span class="english">That</span><span class="malay">Itu</span></td>
      <td><span class="arab">أُولَئِكَ</span><span class="english">That</span><span class="malay">Itu</span></td>
    </tr>
  </table>
</div>