#arabic-wrapper {
  text-align: center;
  font-family: $primary-font-family;
  padding: 10px;
  @media screen and (max-width: 480px) {padding: 5px;}
  .right-header {
    width: 70px;
    height: 145px;
    font-size: 0.85em;
    @media screen and (max-width: 375px)
      {max-width: 65px}
  }
  .right-header.thin {
    height: 40px;
  }
  table {
    border-spacing: 5px;
    th {
      height: 40px;
    }
    td {
      height: 30px;
    }
  }
}
